*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: inline-block;
    justify-content:flex-end; 
    padding: 25px;
}

header div {
    margin: 0 10px;
    padding: 10px;
    border: px solid #000;
    border-radius: 10px;
    background-color: #ff0000;
}

head er button {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

ul{
    background-color: red;
}
#scroll{
    width: 100%;
    display: flex;
    justify-content: center;
}

button{
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover{
    background-color: skyblue;
    transition: 1s;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
img{
    height: 105px;
}
li{
    color: red;
}
p{
    text-indent: 20px;
    color: #000000;
    font-size: 21px;
}
header{
    background-color: red;
}
.p-header{
    color: red;
    text-align: center;
}